:root {
    --brown: #7A5C3A;
    --lightbrown: #F5E9DA;
    --green: #8E9775;
    --gray: #3C3C3C;
    --orange: #E3A857;
    --white: #FFFFFF;
    --black: #181818;
    --gray: #303030;

    --header-height: 100px;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
    margin-top: var(--header-height);
    font-size: large;
}

header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    z-index: 1;

    background: linear-gradient(to bottom, #000000 0%, #000000 20%, #00000000 100%);
}

header ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

header ul li a {
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}

header ul li a.active {
    border-top: 2px solid var(--orange);
}

section:not(#Inicio){
    height: 100vh;
    border: 1px solid white;
    scroll-margin-top: var(--header-height);
}

#Inicio {
    display: flex;
    flex-direction: column;

    scroll-margin-top: var(--header-height);
    background-image: linear-gradient(var(--black) 0%, rgba(0, 0, 0, 0.6) 10%, rgba(0, 0, 0, 0.6) 90%, var(--black) 100%), url("../images/Presentacion.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}

#InicioCards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    gap: 20px;
    justify-content: center;
}

#InicioInfo {
    text-align: center;
    padding: 20px 20px;
}

.card {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    padding: var(--border-radius);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    transition: all 0.3s ease;
}

.card:hover {
    scale: 1.025;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.card img {
    width: auto;
    height: auto;
    max-width: 40%;
    max-height: 40%;
    gap: 10px;
}

@media (max-width: 1000px) {
    #InicioCards {
        grid-template-columns: 1fr 1fr;
    }

    #InicioCards > :last-child:nth-child(odd) {
        grid-column: 1 / -1;
        width: 50%;
        justify-self: center;
    }
}

@media (max-width: 768px) {
    body {
        font-size: xx-small;
    }

    header nav ul li a {
        font-size: smaller;
    }
}

@media (max-width: 844px) and (orientation: landscape) {
    #InicioCards {
        grid-template-columns: repeat(3, 1fr);
    }

    #InicioCards > :last-child:nth-child(odd) {
        grid-column: auto;
        width: auto;
        justify-self: auto;
    }
}