:root {
    --brown: #7A5C3A;
    --lightbrown: #F5E9DA;
    --green: #8E9775;
    --gray: #3C3C3C;
    --orange: #E3A857;
    --white: #FFFFFF;
    --black: #181818;
    --gray: #303030;

    --header-height: 100px;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
}

header {
    background: linear-gradient(to bottom, #000000, #00000000);
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding: 0 10px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    height: var(--header-height);
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    list-style: none;
    width: 100%;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

nav ul li a.active {
    border-top: 3px solid var(--orange);
}

nav ul li a.scrolled {
    color: var(--black);
}

section:not(#Inicio) {
    scroll-margin-top: var(--header-height);
    margin: calc(var(--header-height) / 2) 0;
    border: 1px solid black;
}

#Inicio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: var(--header-height);
    background-repeat: no-repeat; /* evita que se repita */
    background-size: cover;       /* hace que la imagen cubra todo el contenedor */
    background-position: center;  /* centra la imagen */
}

.hero-content {
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  z-index: 1000;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero-content p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

#InicioContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 50%;
    width: 100%;
    align-items: center;
    gap: 25px;
    place-content: center;
    padding: 25px 25px;
    box-sizing: border-box;
}

.card {
    border: 1px solid var(--gray);
    width: 100%;
    border-radius: var(--border-radius);
    max-height: 100%;
    aspect-ratio: 1/1;
    padding: var(--border-radius) var(--border-radius);
    box-sizing: border-box;
    text-align: center;
    justify-content: center;

    background: rgba(255, 255, 255, 0.1);
    /* background-image: url("assets/images/Contours.jpg"); */
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);

    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 25px rgba(255, 255, 255, 0.2);
}


@media (max-width: 1000px) {
    #InicioContainer {
        grid-template-columns: 1fr 1fr;
    }
}